# MODULE_TITLE [![Build Status][ci-img]][ci]

A [Cardinal CSS] module MODULE_DESC

[Cardinal CSS]: https://cardinalcss.com
[ci-img]:  https://travis-ci.org/GITHUB_NAME/MODULE_NAME.svg
[ci]:      https://travis-ci.org/GITHUB_NAME/MODULE_NAME
